div {
    background: #0D91A1;
    color: #015668;
    border: solid #7DCE94 3px;
    padding-right: 60px;
    padding-bottom: 65px;
    width: 200px;
    height: 30px;
    margin: 20px;
    font-family: rubik;
    font-size: 35px;
  }